@tailwind base;
@tailwind components;
@tailwind utilities;

/* LG EI Headline Font Family */
@font-face {
  font-family: 'LG EI Headline';
  src: url('/fonts/LGEIHeadlineTTF-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LG EI Headline';
  src: url('/fonts/LGEIHeadlineTTF-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LG EI Headline';
  src: url('/fonts/LGEIHeadlineTTF-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LG EI Headline';
  src: url('/fonts/LGEIHeadlineTTF-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LG EI Headline';
  src: url('/fonts/LGEIHeadlineTTF-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* LG EI Text Font Family */
@font-face {
  font-family: 'LG EI Text';
  src: url('/fonts/LGEITextTTF-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LG EI Text';
  src: url('/fonts/LGEITextTTF-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LG EI Text';
  src: url('/fonts/LGEITextTTF-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LG EI Text';
  src: url('/fonts/LGEITextTTF-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'LG EI Text', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
